@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622608104074') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e62b";
}

.icon-youxiang01:before {
  content: "\e660";
}

.icon-copyright:before {
  content: "\eacb";
}

.icon-chengji:before {
  content: "\e625";
}

.icon-geren:before {
  content: "\e623";
}

.icon-kebiao:before {
  content: "\e624";
}

